#chartPlayerGames {
  background-color: #fff;
  max-width: 900px;
  height: 400px;

  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: brown;
  }

  .barLabel {
    text-anchor: end;
    dominant-baseline: text-before-edge;
    font: 10px sans-serif;
    fill: #fff;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }
}

#chartPlayerSuccessIndex {
  height: 400px;
  max-width: 900px;
  background-color: #fff;

  .bar.positive {
    fill: steelblue;
  }
  .bar.negative {
    fill: brown;
  }
  .bar.neutral {
    fill: gray;
  }

  .barLabel {
    text-anchor: end;
    dominant-baseline: text-before-edge;
    font: 10px sans-serif;
    fill: #fff;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }
}

#chartPlayerWinRelations {
  height: 600px;
  max-width: 900px;
  background-color: #fff;

  path.link {
    fill: none;
    stroke: #bbb;
    stroke-width: 4px;
    cursor: default;
  }

  circle.node {
    stroke-width: 1.5px;
  }

  text {
    font: 12px sans-serif;
    fill: #444;
    pointer-events: none;
    text-anchor: middle;
  }

  text.id {
    text-anchor: middle;
    font-weight: bold;
  }
}
