#games {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    padding: 4px;
    margin: 0;
  }
}
.tag {
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  color: white !important;
  font-size: x-small;
  padding: 2px;
  margin: 0 4px 0 4px;
  border-radius: 4px;
  background-color: #e77800/*#99f*/;
}

.pure-g > .padded {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.1em;
}
