body {
  background-color: #eee;
}

form {
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;

  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    padding-bottom: 4px;
    margin: 0;
  }

  input {
    margin-right: 1em;
  }
}

#games {
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  
  li {
    list-style: none;
    padding: 4px;
    margin: 0;
  }
}
