extends layout.jade

block title
  title Kikkeritilastoja

block scripts
  script(src='http://d3js.org/d3.v3.min.js', type='application/javascript')
  script(src='/web/prelude-browser-min.js', type='application/javascript')
  script(src='/web/chart_playergames.js', type='application/javascript')
  script(src='/web/chart_playersuccessindex.js', type='application/javascript')
  script(src='/web/chart_playerwinrelations.js', type='application/javascript')
  script(src='/web/charts.js', type='application/javascript')

block styles
  link(rel='stylesheet', href='/web/charts.css')
  
block content
  h2 Pelattuja pelejä
  #chartPlayerGames
  h2 Menestysindeksi
  #chartPlayerSuccessIndex
  h2 Voittosuhteet
  #chartPlayerWinRelations
    
