html
  head
    block title
      title Kikkeri
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/web/util.js', type='application/javascript')
    block scripts
    link(rel='stylesheet', href='/web/style.css')
    block styles
  body
    nav
      ul
        li
          a(href='/') Lisää tulos
        li
          a(href='/game/') Pelatut pelit
        li
          a(href='/charts/') Tilastoja
 
    #content
      block content
